body{
  overflow-x: hidden;
  
}
.topnav-centered a {
    float: none;
    position:static;
    top: 50%;
    left: 50%;
   margin-left: 4%;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav {
    position: relative;
    overflow: hidden;
    background-color: #333;
  }
  .dropdown:hover> .dropdown-menu {
    display: block;
  }
.nav-link{
    color: red;
}
.dropdown:hover > .nav-link{
    height: 100%;
    font-size: 20px;
    position: relative;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 15px #8e54e9;
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    padding: 0 10px;
    margin-right: 30px;
}
.search-box{
    margin-right: 5%;
    width: fit-content;
    height: fit-content;
    position: relative;
    float: right;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:black;
  }
  .input-search::placeholder{
    color:black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:black ;
    background-color: transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
   
.nav-item a {
    color: black;
    text-decoration: none;
    font-size: small;
}
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    border-radius: 50px;
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:50px;
    padding:0px;
    margin:0px 0px 10px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:7px 8px;
    margin-right:6px;
}
.sticky li p{
    padding-top:5px;
    margin:1px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}




.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  #itemCP,
  #itemCN {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }

img.card-img-top{
 height: fit-content;
}
  .footer{
    
    text-align: left;
    background: #152F4F;
    color:white;
  }
  #logo-google{
    padding: 10px 13px 10px 13px; 
    background-color:#dd4b39;
    color: white;
    border-radius: 80px;
    text-decoration: none;
  }
  #logo-twitter{
    padding: 10px 10px 10px 10px; 
    background-color: #55ACEE;
    color: white;
    border-radius: 80px;
    text-decoration: none;
  }
  #logo-insta{
    padding: 10px 11px 10px 11px; 
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: white;
    border-radius: 80px;
    text-decoration: none;
  }
  #logo-snap{
    padding: 10px 11px 10px 11px; 
    background-color: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 80px;
    text-decoration: none;
  }
  #logo-git{
    padding: 10px 11px 10px 11px; 
    background-color:#211F1F;
    color: white;
    border-radius: 50px;
    text-decoration: none;
  }
  #sale_timer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    height: 100px;
    color: black;
    
    background: rgb(255,255,255);
    background: linear-gradient(353deg, rgba(255,255,255,1) 0%, rgba(159,159,159,1) 50%, rgba(159,159,159,1) 100%);
    vertical-align:bottom
  }
  .fixed-bottom.navbar-light.bg-light{
    display:none;
   }
  @media only screen and (max-width: 992px)  {
   div.card-body{
     display: grid;
   }
   a.btn.btn-outline-dark{
     margin-top: 10px;
   }
   p#sale_timer{
     margin: 0%;
    font-size: medium;
   }
   .fixed-bottom.navbar-light.bg-light{
    display: block;
   }
  
.abc{
  display: none;
}  
html, body {
 
  margin-bottom: 80px;
}

}
@media only screen and (max-width: 1024px)  {
  div.card-body{
    display: grid;
  }
  a.btn.btn-outline-dark{
    margin-top: 10px;
  }
 
 }
 html, body {
  max-width: 100%;
  overflow-x: hidden;
}
nav.navbar.fixed-bottom.navbar-light.bg-light{
  display: inline;
}